button {
  position: relative;
  display: block;
  text-align: center;
  width: 100%;
  padding: 1em 0;
  color: black;
  font-size: 1.15rem;
  font-weight: 400;
  border: none;
  outline: none;
  background-color: #e7e7e7;
}

.accordion-item:not(.active) .accordion-item-container {
  height: 0;
  overflow: hidden;
  transition: height 0.3s linear;
}

.accordion-item button {
  border-bottom: 1px solid black;
}

.accordion-item.active .accordion-item-container {
  height: 359px;
  overflow: auto;
  transition: height 0.3s linear;
}